input {
    width:45%;
    margin-top: 50px;
    margin-left: 25%;
}
.btn{
    justify-content: center;
    
}
button{
    margin: 0px 15px 15px 0px;
    margin-top: 10px;
    border-radius: 15px;
    width: 75px;
}

button:hover{
    background-color: black;
    color: white;
}
body{
    background-color: lightgray;
    
}
fieldset{
    width: 500px;
    height: 350px;
    background-color: black ;
}

.dados{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px;
}

div{
    text-align: center;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center  ;
}
input{
    width: auto;
    margin: auto;
}
.ope{
    background-color: red;
}
.igual{
    background-color: yellow;
}
legend{
    color: white;
}




